<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vb6_wakatime.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <vb6_wakatime.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Proxy" serializeAs="String">
                <value />
            </setting>
            <setting name="CliUri" serializeAs="String">
                <value>https://github.com/wakatime/wakatime/archive/master.zip</value>
            </setting>
            <setting name="CliFolder" serializeAs="String">
                <value>wakatime-master\wakatime\cli.py</value>
            </setting>
            <setting name="WakaTimeUri" serializeAs="String">
                <value>https://raw.githubusercontent.com/wakatime/wakatime/master/wakatime/__about__.py</value>
            </setting>
        </vb6_wakatime.Properties.Settings>
    </userSettings>
</configuration>